

body {
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


body, html {
    height: 100%;
    margin: 0;
}

section {
    min-height: 100vh;
}


.index-top-container{
    background: url("images/julebillede.jpeg");
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}

.wishlist-background{
    background: url("images/christmas-list.jpg");
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}


#inspiration {
  background-color: #442B2D;

}


.header-top{
    background-color: rgba(100,100,100,0.50);
    color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 90px;
    align-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 25px;
}

.header-top-fragment{
    position: absolute;
}

.fragment-header {

}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left-header a, nav.menu a {
    text-decoration: none;
    display: flex;
    align-items: center;
}
/*left-header nav ul li a*/


li {
    list-style-type: none;
}

.left-header{
    display: flex;
    align-items: center;
    margin-left: 5%;
    font-weight: bold;
    font-size: 35px;

}


/* ------------------------ */

.links-container-section{

    display: flex;
    width: 100%;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
}

.links-section{
    background-color: rgba(100,100,100,0.50);
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 35px;
    border-radius: 20px;
    text-align: center;
}

.links-section:hover{
    color: red;
    font-style: italic;
}

.tekst-section{
    position: relative;
    top: 60%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-style: italic
}

.julekugle-section{
    position: relative;
    top: 75%;
    display: flex;
    justify-content: center;
    /*TEST*/

}

#inspiration, #kontakt, #omos{
    padding-top: 100px;
    padding-left: 40px;
}

/* Colour of visited links remain white */
a:visited {
    color: red;
}

/* Appearance of wishlist table */

.wishlist-table {
    border-collapse: collapse;
    border: 2px solid black;
    padding-top: 50px;
}

.wishlist-box {
    padding-top: 20px;
}

td, th {
    padding: 15px;
    text-align: left;
    background-color: snow;
}

tr:hover > td {
    background-color: mediumaquamarine;
}

.wishlist-main-frame {
    padding-top: 50px;
}

.wishlist-main-frame-guest {
    display: grid;
    justify-content: center;
}

.sebastians-showWishlists-guest{
    display: grid;
    justify-content: center;
    align-content: center;
}

.input-form-wishlist{
    padding-top: 100px;
    margin: 20px;
}

.show-wishlist {
    padding-top: 50px;
}

#kontakt {
    background-color: grey;
}

.footer-style{
    text-align: center;
    margin: 10px 15px;
}

footer img {
    height: 100px;
    width: auto;
}
@media all and (max-width: 600px){
    footer img {
        height: 30px;
    }

    .menu {
        font-size: 15px;
    }
}


