

body {
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}


body, html {
    height: 100%;
    margin: 0;
}

section {
    /*min-height: 100vh;*/
}

.index-top-container, #omos, #kontakt {
    min-height: 100vh;
}


.index-top-container {
    background: url("images/julebillede.jpeg");
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}


.wishlist-background{
    background: url("images/christmas-list.jpg");
    background-position: center;
    height: 100%;
    background-repeat: repeat;
    background-size: cover;
}

.background-add-wish {
    background: url("images/christmas-list.jpg");
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-om-os{
    background: url("images/om-os.jpg");
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 35% 50% 15%;
}




.header-top{
    background-color: rgba(100,100,100,0.50);
    color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 90px;
    align-content: center;
    top: 0;
    position: absolute;
    width: 100%;
    font-size: 25px;
}


.fragment-header {

}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left-header a, nav.menu a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: red;
}
/*left-header nav ul li a*/


li {
    list-style-type: none;
}

.left-header{
    display: flex;
    align-items: center;
    margin-left: 5%;
    font-weight: bold;
    font-size: 35px;

}


/* ------------------------ */

.test{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%; /*var 100 %*/
    justify-content: center;
    top: 45%;
    position: relative;
}

.links-container-section{
    display: flex;
    width: 100%; /*var 100 %*/
    justify-content: space-around;
    position: absolute;
}

.links-section{
    background-color: rgba(100,100,100,0.50);
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 35px;
    border-radius: 20px;
    text-align: center;
}

.links-section a {
    color: white;
    text-decoration: none;
}

.links-section:hover{
    color: red;
    font-style: italic;
}

.tekst-container{
    display: flex;
    width: 100%; /*var 100 %*/
    justify-content: center;
    padding-top: 50px;
}

.tekst-section{
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    display: flex;
    width: 100%; /*var 100 %*/
    justify-content: center;
    position: relative;
    text-align: center;
}

.julekugle-section{
    text-align: center;
    width: 100%; /*var 100 %*/
}


#kontakt, #omos{
    /*padding-top: 100px;*/
    /*padding-left: 40px;*/
}

/*---------- Om os --------------*/
.om-os-textbox {
    padding-top: 25%;
    display: grid;
    grid-template-rows: 15% 85%;
    font-size: 1em;
    border: black;
}

#omos {
    font-size: 1em;

}


/*----------------------------------------*/

/* Colour of visited links remain white */
a:visited {
    color: red;

}

/* Appearance of wishlist table */

.wishlist-table {
    border-collapse: collapse;
    border: 2px solid black;
    padding-top: 50px;
    font-size: 0.9em;
    min-width: 400px;
    /* For at få buede kanter*/
    border-radius: 15px;
    /*border-radius: 5px 5px 0 0;*/
    overflow: hidden;
    /*box-shadow: 0 0 3px white;*/
}

.search-wishlist {
    padding-top: 30px;
}

.wishlist-box {
    padding-top: 30px;
}

.wishlist-table td, .wishlist-table tr th{
    text-align: center;
}


td, th {
    padding: 15px;
    text-align: left;
    background-color: snow;
}

tr:hover > td {
    background-color: mediumaquamarine;
}

.marcus-box-tabel{
    padding-top: 65px;
    justify-content: center;
    border-radius: 15px;
}

.editWishes-table {
    /*display: grid;
    padding-top: 8em;
    justify-content: center;

     */
}

.editWishes-marcus {
    display: grid;
    justify-content: center;
    justify-items: start;
    align-content: center;
    text-align: left;
}

.wishlist-main-frame {

    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 30%;
}

.daniels-box-tabel{
    display: grid;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 30%;
    justify-content: center;
    border-radius: 15px;
}

.wishlist-table-daniel {
    border-collapse: collapse;
    border: 2px solid red;
    padding-top: 50px;
    border-radius: 15px;
    overflow: hidden;
}



.daniels-box-tabel input{
    border-radius: 5px;
    overflow: hidden;
    border-collapse: collapse;
}



.daniels-box-tabel h1 {text-align: center}

.wishlist-main-frame-guest {
    display: grid;
    justify-content: center;
}

.sebastians-showWishlists-guest{
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.input-form-wishlist{
    padding-top: 100px;
    margin: 20px;
}

.input-form-wishlist-add-wish {
    /*padding-top: 100px;*/
}

.add-wish-table-and-search-wrapper {
    display: grid;
    justify-items: end;
    margin: 20px;
}

.add-wish-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
    /*align-content: start;*/
}

/* add-wish done responsive */
@media all and (max-width: 601px) {
    .add-wish-container {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        direction: rtl;
        row-gap: 30px;
    }

    .add-wish-container > div {
        direction: ltr;
    }

    .add-wish-container, .add-wish-container > div {
        transform: rotate(180deg);
    }

    .add-wish-empty-box {
        display: none;
    }

    .add-wish-search-bar {
        display: grid;
        justify-self: center;
    }

    .add-wish-left {
        display: grid;
        /*row-gap: 50px;*/
    }

    #myInput {
        font-size: 30px;
    }

    .input-form-wishlist-add-wish > input, #item_name, #item_price, #item_link {
        font-size: 30px;

    }

    .input-form-wishlist-add-wish > input, button {
        font-size: 30px;
    }

    .input-form-wishlist-add-wish > input, label {
        /*display: none;*/
    }

    .input-form-wishlist-add-wish > h3 {
        font-size: 30px;
    }

    .add-wish-title-header > h1 {
        font-size: 35px;
        font-weight: bold;
    }



}

.add-wish-title-header {
    display: grid;
    justify-items: center;
    padding-top: 100px;
    margin: 20px;

}

.add-wish-search-bar {
    display: grid;
    justify-content: right;
    align-content: start;
    height: 50px;
}

.add-wish-left {
    display: grid;
    justify-content: end;
}

.add-wish-right {
    display: grid;
    justify-content: start;
    align-content: start;
}

.add-wish-empty-box {
    width: 50%;
    height: 50px;
}


.show-wishlist {
    /*padding-top: 50px;*/
}

#kontakt {
    background: url("images/kontakt_billede.jpeg");
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: azure;
}

.kontakt-text {
    width: 400px;
    font-size: 2vw; /* 2vw = 2 % of viewport width */
    max-width: 400px;
    min-font-size: 2vw;

}




.kontakt-text a {
    color: azure;
}

.footer-style{
    text-align: center;
    margin: 10px 15px;
}

footer img {
    height: 100px;
    width: auto;
}



@media all and (max-width: 600px){
    footer img {
        height: 30px;
    }

    .menu {
        font-size: 15px;
    }

    .kontakt-text {
        font-size: 45px; /* 2vw = 2 % of viewport width */
    }
}


/*seb forsøg*/
.scrollable {
    height: 250px;
    overflow-y: scroll;
    border-bottom: 1px solid #ddd;

}

.button-smooth {

}
