
body, html {
    height: 100%;
    margin: 0;
}

section {
    min-height: 100vh;
}


.index-top-container{
    background: url("images/julebillede.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.header-top{
    background-color: rgba(100,100,100,0.50);
    color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 90px;
    align-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 25px;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left-header a, nav.menu a {
    text-decoration: none;
}
/*left-header nav ul li a*/


li {
    list-style-type: none;
}

.left-header{
    display: flex;
    align-items: center;
    margin-left: 5%;
    font-weight: bold;
    font-size: 35px;
}

#inspiration, #kontakt, #omos{
    padding-top: 100px;
    padding-left: 40px;
}