<footer>
<div class="footer-style">
    <a target="_blank" href=https://www.br.dk><img src="images/br-logo.png"></a>
    <a target="_blank" href="https://www.friluftsland.dk"><img src="images/friluftsland-logo.png"></a>
    <a target="_blank" href="https://www.sportmaster.dk"><img src="images/sportmaster-logo.png"></a>
    <a target="_blank" href="https://www.imerco.dk"><img src="images/imerco.png"></a>
    <a target="_blank" href="https://www.magasin.dk"><img src="images/magasin.png"></a>
    <a target="_blank" href="https://www.elgiganten.dk"><img src="images/elgiganten.png"></a>

</div>
</footer>