
<section class ="container-gallery">
  <div class="container-box">
    <div class="image-box">
      <img class="container-image" src="images/tommy.jpg" alt="Tommy Helle Jensen" width="180" height="200" alt="Billede af Tommy">
      <div class="container-name">Tommy Helle Jensen</div>
      <div class="container-text">Teamets klatrer og vandrer. Tommy bruger store deler af sin fritid hos Friluftsland</div>
    </div>
  </div>

  <div class="container-box">
    <div class="image-box">
      <img class="container-image" src="images/daniel.jpg" alt="Daniel Ebbekær" width="180" height="200" alt="Billede af Daniel">
      <div class="container-name">Daniel Ebbkær</div>
      <div class="container-text">Teamets personlige træner, der dyrker både crossfit og fodbold. Daniel ønsker sig flere julegaver til jul</div>
    </div>
  </div>

  <div class="container-box">
    <div class="image-box">
      <img class="container-image" src="images/sebastian.jpeg" alt="Sebastian Heiberg" width="180" height="200" alt="Billede af Sebastian">
      <div class="container-name">Sebastian Heiberg</div>
      <div class="container-text">Teamets backend-ekspert. Sebastian ønsker sig altid uldsokker</div>
    </div>
  </div>

  <div class="container-box">
    <div class="image-box">
      <img class="container-image" src="images/marcus.jpg" alt="Marcus Holje" width="180" height="200" alt="Billede af Marcus">
      <div class="container-name">Marcus Holje</div>
      <div class="container-text">Teamets nordmand. Marcus ønsker sig en hvid jul og masser af LEGO</div>
    </div>
  </div>
</section>
