<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a wish</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="/mainjs.js"></script>
</head>
<body>

<section class="wishlist-background">

<div th:insert="fragments/header-fragment"></div>
<div class="input-form-wishlist">
    <h1><strong th:text="${wishlist_name}"></strong></h1>
    <h3>Tilføj et nyt ønske</h3>
    <form action="/addWish" method="post" th:action="@{/addWish/{wishlist_id}}" th:object="${wish}">

        <input id="wishlist_id" name="wishlist_id" type="hidden" required th:value="${wishlist_id}">

        <label for="item_name">Ønskebeskrivelse</label>
        <input id="item_name" name="item_name" type="text" autofocus required>

        <label for="item_price">Pris</label>
        <input id="item_price" name="item_price" type="number">

        <label for="item_link">Link</label>
        <input id="item_link" name="item_link" type="text">

        <button type="submit">Tilføj ønske</button>
    </form>
    <label for="myInput"> Søgefunktion </label>
    <input type="text" id="myInput" onkeyup="searchFunction()" placeholder="Fremsøg et ønske">
    <table class = "show-wishlist" id="mySearchTable">
<div class="wishlist-main-frame">
    <table class = "wishlist-table">
        <thead>
        <tr th:if="${!wishes.empty}">
            <th>Name</th>
            <th>Pris</th>
            <th>Link</th>
            <th>Opdater</th>
            <th>Slet</th>
        </tr>
        </thead>

        <tbody>
        <tr th:if="${wishes.empty}">
            <td>Ønskelisten er tom</td>
        </tr>
        <tr th:each="w : ${wishes}">
            <td th:text="${w.item_name}"></td>
            <td th:text="${w.item_price}"></td>
            <td><a th:href="${w.item_link}" target="_blank"><img src="/../images/link-logo.png" height="20px"></a> </td>
            <td><a th:href="@{'/updateWish/' + ${w.item_id}}"><img src="/images/edit.png" height="20px" width="20px" alt="Picture: edit symbol"></a></td>
            <td><a th:href="@{'/deleteWish/' + ${w.wishlist_id} + '/' + ${w.item_id}}"><img src="/images/delete.png" height="30px" width="30px" alt="Picture: delete symbol"></a></td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</section>
</body>
</html>