<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{styles.css}" href="/styles.css">
</head>
<body>

<div th:insert="fragments/header-fragment"></div>
<section class="wishlist-background">
    <div class="input-form-wishlist">
        <h1>Lav en ny ønskeliste</h1>
        <form action="/createWishList" method="post" th:action="@{/createWishList}" th:object="${wishList}">
            <label for="wishlist_name">Ønskelistens navn </label>
            <input id="wishlist_name" name="wishlist_name" type="text" autofocus required>
            <button type="submit"> opret ønskeliste</button>
        </form>
    </div>
</section>

<footer>
    <div th:replace="fragments/footer-fragment"></div>
</footer>

</body>
</html>