<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{styles.css}" href="../static/styles.css">
    <meta charset="UTF-8">
    <title>Dine Julegaveønsker</title>
</head>
<body>


<div th:insert="fragments/header_fragment"></div>

<div id="wishlist-main-frame">
    <div>
        <a class="create-wish-btn" th:href="@{showCreateWishList}" style="color: black"> Tilføj en ny ønskeliste</a>
    </div>
    <div id="wishlist-box">
        <table id="wishlist-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Vis ønsker</th>
                <th>Tilføj ønske</th>

            </tr>
            </thead>

            <tbody>
            <tr th:each="w : ${wishlists}">
                <td th:text="${w.wishlist_name}"></td>
                <td><a th:href="@{'/showWishes/' + ${w.wishlist_id}}"> Vis ønskesedlen</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>