<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{styles.css}" href="../static/styles.css">
    <meta charset="UTF-8">
    <title>Dine Julegaveønsker</title>
</head>
<body>
<a class="create-wish-btn" th:href="@{'showCreateWishList'}"> Tilføj en ny ønskeliste </a>
<table>
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="w : ${wishes}">
        <td th:text="${w.item_name}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>