<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{styles.css}" href="../static/styles.css">
    <meta charset="UTF-8">
    <title>Julegaveønsker</title>
    <link rel="icon" href="images/christmas-tree.png">
</head>
<body>
<section class="index-top-container">
    <header class="header-top">
        <div class="left-header"><a href="/">Julegaveønsker<img src="images/julesok.png"></a></div>
        <nav class="menu">
            <ul>
            <li><a href="#inspiration">Inspiration</a></li>
            <li> <a href="#omos">Om os</a></li>
            <li> <a href="#kontakt">Kontakt</a></li>
            </ul>
        </nav>
    </header>

    <div class="links-container-section">

    <div class="links-section">Opret ønskeliste</div>

    <div class="links-section"> <a th:href = "@{'showWishes'}">Find ønskeliste</a></div>

    </div>

    <div class="tekst-section"> <p style="position: absolute">Den nemmeste måde at lave <br>og dele din
    ønskeliste på</p></div>
    <div class="julekugle-section"><img src="images/julekugle.png"></div>
</section>

<div class="menu-pages">
    <section id="inspiration">
        <h1>Inspiration</h1>
    </section>
    <section id="omos">
        <h1>Om os</h1>
    </section>
    <section id="kontakt">
        <h1>Kontakt</h1>
    </section>
</div>


</body>
</html>