<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{styles.css}" href="../static/styles.css">
    <meta charset="UTF-8">
    <title>Julegaveønsker</title>
    <link rel="icon" href="images/christmas-tree.png">
</head>
<body>
<section class="index-top-container">
    <header class="header-top">
        <div class="left-header">Julegaveønsker <img src="images/julesok.png"> </div>
        <nav>
            <ul>
            <li>Inspiration</li>
            <li>Om os</li>
            <li>Kontakt</li>
            </ul>
        </nav>
    </header>

    <div class="links-container-section">

    <div class="links-section">Opret ønskeliste</div>

    <div class="links-section">Find ønskeliste</div>

    </div>

    <div class="tekst-section"> <p style="position: absolute">Den nemmeste måde at lave <br>og dele din
    ønskeliste på</p></div>
    <div class="julekugle-section"><img src="images/julekugle.png"></div>



</section>

<div style="height: 400px">TEST TEST TEST</div>
</body>
</html>