<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="UTF-8">
    <title>Julegaveønsker</title>
    <link rel="icon" href="images/christmas-tree.png">
    <script src="/mainjs.js"></script>
</head>
<body>

<button onclick="topFunction()" id="myBtn" title="Go to top" >&#8593</button>


<section class="index-top-container">

    <div th:insert="fragments/header-fragment"></div>

    <div class="test" id="top">

        <div class="links-container-section">
            <div></div>
            <div class="links-section"><a th:href="@{'editWishes'}">Bruger</a></div>
            <div class="links-section"><a th:href="@{'showWishListsGuest'}">Gæst</a></div>

            <div></div>
        </div>

        <div class="tekst-container">
            <div class="tekst-section"><p>Den nemmeste måde at lave <br>og dele din
                ønskeliste på</p></div>
        </div>

        <div class="julekugle-section"><img src="images/julekugle.png"></div>
    </div>



</section>

<div class="menu-pages">

    <section id="omos" class="background-om-os">
        <div>

        </div>


        <div class="om-os-textbox">
            <div><h1>Hej, vi er hovederne bag Juleønskeskyen</h1></div>

            <div>Vi er en gruppe studerende fra datamatikeruddannelsen på KEA, som i efteråret 2022 kom på idéen om at lave
            en helt egen Juleønskesky, der vi kunne lave ønskesedler og dele de med familie og venner.
            <br>
            <br>
            Konceptet er enkelt, men genialt, da vi selv godt kan lide at specificere ønsket med en link, sådan at det
            er den
            helt rigtige version der kommer frem til Julemanden.
            <br>
            <br>
            Håber du får nytte af siden og har du input eller forslag må du bare <a href="mailto: info@juleonskeskyen.dk" style="color:black"> kontakte os</a>.
            <br>
            <br>
            Julehilsen fra Tommy, Daniel, Sebastian og Marcus
            </div>
        </div>
        <div></div>
    </section>

    <section id="kontakt" >
        <div class="kontakt-text">
            <h1>Kontakt</h1>
        Vi elsker feedback! Har du spørgsmål eller kommentarer til Juleønskeskyen er det bare
            at tage kontakt til os per mail: <a href="mailto: info@juleonskeskyen.dk">info@juleønskeskyen.dk</a>
       <br>
        </div>
    </section>
</div>

<footer>
    <div th:insert="fragments/footer-fragment"></div>
</footer>

</body>
</html>