<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="UTF-8">
    <title>Julegaveønsker</title>
    <script src="/mainjs.js"></script>
</head>
<body>

<div th:insert="fragments/header-fragment"></div>

<section class="wishlist-background editWishes-marcus">
    <div class="marcus-box-tabel">
        <h1>Ønskelister</h1>
        <div class="editWishes-table">

            <div class="search-wishlist">
                <input type="text" id="myInput" onkeyup="searchFunction()" placeholder="Fremsøg en ønskeliste    ">
            </div>

            <div class="wishlist-box scrollable">
                <table class="wishlist-table" id="mySearchTable">

                    <thead>
                    <tr>
                        <th>Navn</th>
                        <th>Vis ønskeliste</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="w : ${wishlists}">
                        <td th:text="${w.wishlist_name}"></td>
                        <td><a th:href="@{'/showWishListGuest/' + ${w.wishlist_id}}">Vis ønskeliste</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br>
    <input type="button" value="Tilbage" onclick="history.back()">
</section>

</body>
</html>