<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="UTF-8">
    <title>Julegaveønsker</title>
</head>
<body>


<div th:insert="fragments/header_fragment"></div>
<section class="wishlist-background">
    <div class="wishlist-main-frame">
        <div class="wishlist-box">
            <table class="wishlist-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Vis ønskeliste</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="w : ${wishlists}">
                    <td th:text="${w.wishlist_name}"></td>
                    <td><a th:href="@{'/showWishListGuest/' + ${w.wishlist_id}}">Vis ønskeliste</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>
</html>