<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="UTF-8">
    <title>Julegaveønsker</title>
    <script src="/mainjs.js"></script>
</head>
<body>


<div th:insert="fragments/header-fragment"></div>
<section class="wishlist-background sebastians-showWishlists-guest">

    <h1> Ønskelister</h1>
    <input type="text" id="myInput" onkeyup="searchFunction()" placeholder="Søg i ønskelisterne">
        <div class="wishlist-box">
            <table class="wishlist-table" id="mySearchTable">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Vis ønskeliste</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="w : ${wishlists}">
                    <td th:text="${w.wishlist_name}"></td>
                    <td><a th:href="@{'/showWishListGuest/' + ${w.wishlist_id}}">Vis ønskeliste</a></td>
                </tr>
                </tbody>
            </table>
        </div>

</section>
</body>
</html>