<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${wishlist_name}"></title>
    <link rel="stylesheet" href="/styles.css">

<!-- Tommy roder lige fra her -->

    <!-- Til her -->

    <script src="/mainjs.js"> </script>
</head>
<body>

<section class="wishlist-background">


    <div th:insert="fragments/header-fragment"></div>

    <div class="daniels-box-tabel">

        <h1><strong th:text="${wishlist_name}"></strong></h1>
        <form style="align-self: center">
            <input type="button" value="Tilbage" onclick="history.back()">
        </form> <br><br>
        <input type="text" id="myInput" onkeyup="searchFunction()" placeholder="Søg i listen">
        <div class="wishlist-box scrollable">
            <table class="wishlist-table-daniel" id="mySearchTable">

                <thead>
                <tr th:if="${!wishes.empty}">
                    <th>Name</th>
                    <th>Pris</th>
                    <th>Link</th>
                </tr>
                </thead>

                <tbody>
                <tr th:if="${wishes.empty}">
                    <td>Ønskelisten er tom</td>
                </tr>
                <tr th:each="w : ${wishes}">
                    <td th:text="${w.item_name}"></td>
                    <td th:text="${w.item_price}"></td>
                    <td><a th:href="${w.item_link}" target="_blank"><img src="/images/link-logo.png" height="20px"></a></td>
                </tr>
                </tbody>

            </table>

        </div>
    </div>

</section>
</body>
</html>