<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="UTF-8">
    <title>Julegaveønsker</title>
</head>
<body>

<div th:insert="fragments/header_fragment"></div>


<table class = "show-wishlist">
    <thead>
    <tr>
        <th>Name</th>
        <th>Pris</th>
        <th>Link</th>
    </tr>
    </thead>

    <tbody>
    <tr th:if="${wishes.empty}">
        <td>Ønskelisten er tom</td>
    </tr>
    <tr th:each="w : ${wishes}">
        <td th:text="${w.item_name}"></td>
        <td th:number="${w.item_price}"></td>
        <td th:text="${w.item_link}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>