<!DOCTYPE html>
<!--suppress ALL, SyntaxError -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="UTF-8">
    <title>Julegaveønsker</title>
</head>
<body>

<div th:insert="fragments/header-fragment"></div>

<table class = "wishlist-table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Pris</th>
        <th>Link</th>
    </tr>
    </thead>

    <tbody>
    <!--suppress SyntaxError -->
    <tr th:if="${wishes.empty}">
        <td>Ønskelisten er tom</td>
    </tr>
    <tr th:each="w : ${wishes}">
        <td th:text="${w.item_name}"></td>
        <td th:text="${w.item_price}"></td>
        <td> <a th:href="${w.item_link}" target="_blank">Link</a></td>
        <td><a th:href="@{'/deleteWish/' + ${w.wishlist_id} + '/' + ${w.item_id}}">Slet ønske</a></td>
    </tr>
    </tbody>
</table>

<span><a th:href="@{'/addWish/' + ${newWishId}}">Tilføj ønske</a></span>
</body>
</html>